<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="inner cover">

			 <div class="masthead clearfix">
	            <div class="inner">
	              <h3 class="masthead-brand"> <%= link_to "Lobo Lab", root_path %></h3>
	              <nav>
	                <ul class="nav masthead-nav">

	                  <% if user_signed_in? %>
	                  	<li> <%= link_to "Ver laboratorios", labs_path %></li>
	                  	<li> <%= link_to "Ver colaboradores", collaborators_path %></li>
	                  	<li> <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %></li>
	                  <% else%>
	                  <li> <%= link_to "Crear cuenta", new_user_registration_path %></li>

	                  <li> <%= link_to "Iniciar sesion", new_user_session_path %></li>
	                  <% end %>
	                </ul>
	              </nav>
	            </div>
	          </div>