<h1>Lista de  laboratorios</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Nomclatura</th>
      <th>Equipo</th>
      <th>Mobiliario</th>
      <th>Profesor encargado</th>
      <th>Colaboradores</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @labs.each do |lab| %>
      <tr>
        <td><%= lab.nombre %></td>
        <td><%= lab.nomclatura %></td>
        <td><%= lab.equipo %></td>
        <td><%= lab.mobiliario %></td>
        <td><%= lab.profesor_encargado %></td>
        <td><%= lab.colaboradores %></td>
        <td><%= link_to 'Ver', lab %></td>
        <td><%= link_to 'Editar', edit_lab_path(lab) %></td>
        <td><%= link_to 'Eliminar', lab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar nuevo laboratorio', new_lab_path %>
